.form-container {
  width: 80%;
  margin: 50px auto;
  background-color: #82354B;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 2rem;
  color: #313131;
  margin-bottom: 20px;
  text-align: center;
}

/* Formulaire */
.form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.form div {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 1rem;
  color: #ffffff;
  margin-bottom: 5px;
}

input,
select,
button {
  padding: 10px;
  border-radius: 15px;
  border: 1.2px solid #833a3a;
  font-size: 1rem;
}

input[type="number"],
input[type="text"],
select {
  background-color: #fafafa;
}

input[type="number"]:focus,
input[type="text"]:focus,
select:focus {
  outline: none;
  border-color: #0056b3;
  background-color: #e6f0ff;
}

button {
  color: #fff;
  border: none;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.error {
  color: red;
  text-align: center;
  margin-top: 10px;
}

select {
  background-color: #000000;
}

/* Effet de chargement */
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.loading .spinner {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
input[type="date"] {
  background-color: #fff; /* Fond blanc */
  color: #000; /* Texte noir */
  border: 1px solid #ccc; /* Bordure légère */
  padding: 8px;
  font-size: 16px;
}
input, textarea, select {
  color: black !important; /* Texte en noir quand tu écris */
  background-color: white !important; /* Fond blanc pour contraster avec le texte */
}

input::placeholder, textarea::placeholder {
  color: #aaa; /* Couleur du texte placeholder en gris clair */
}
