.form-container {
  margin-left: 250px; /* Décale le contenu à droite pour faire de la place à la sidebar */
  padding: 20px;
  width: 100%;
  max-width: 1200px;
  background-color: #f9f9f9;
}

h2 {
  font-size: 2rem;
  color: #333;
}

h3 {
  margin-top: 20px;
  font-size: 1.5rem;
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

label {
  font-weight: bold;
  color: #333;
}

select,
input {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

input[type="date"] {
  padding: 8px;
}

button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #45a049;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.product-row {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.product-row select,
.product-row input {
  width: 200px;
}

.product-row span {
  font-size: 0.9rem;
  color: #555;
}

.product-row button {
  background-color:#e74c3c; ;
  padding: 5px;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  color: #e74c3c;
  transition: color 0.3s;
  transition: transform 0.2s, opacity 0.2s ease;

}

.product-row button:hover {
  color: #c0392b;
}

button[type="button"] {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 15px;
  color: white;
  border: none;
  border-radius: 5px;
}


button[type="button"] svg {
  font-size: 1.2rem;
}

.error {
  color: #e74c3c;
  font-weight: bold;
  margin-bottom: 15px;
}

/* Styling des icônes dans les boutons */
button svg {
  margin-right: 5px;
}